{% extends 'base.html' %}
{% block meta %}
{% load static %}
<link rel="stylesheet" href="{% static 'first.css' %}">
{% endblock meta %}

<title>Login</title>

{% block content %}

<div class = "login">

    <h1>Login</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <table>
            <tr>
                <td>Username: </td>
                <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
            </tr>
                    
            <tr>
                <td>Password: </td>
                <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
            </tr>

            <tr>
                <td></td>
                <td><input class="btn login_btn" type="submit" value="Login"></td>
            </tr>
        </table>
    </form>

    {% if messages %}
    <div class="d-flex flex-column gap-2 mt-2">
        {% for message in messages %}
        <div class="alert alert-primary">{{ message }}</div>
        {% endfor %}
    <div>
    {% endif %}     
        
    Belum mempunyai akun? <a href="{% url 'wishlist:register' %}">Buat Akun</a>

</div>

{% endblock content %}